<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <RollingFile name="java.log" fileName="/data/home/logbench/java/java.log"
              append="false" immediateFlush="true" filePattern="logs/$${date:yyyy-MM}/%d{MM-dd-yyyy}-%i-java.log">
            <PatternLayout pattern="%d %-5p %c [%F:%L] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10000 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="java.log" />
            <!-- <AppenderRef ref="CONSOLE"/> -->
        </Root>

        <Logger name="com.yuxiaoba.hello" level="ERROR" />
    </Loggers>
</Configuration>